.resizeable{
    background: grey;
    border: 1px solid lightgrey;
    display:flex;
    justify-content: center;
    align-items: center;
}

.resizeables{
    background: lightblue;
    border: 1px solid lightgrey;
    display:flex;
    justify-content: center;
    align-items: center;
}