<!--The content below is only a placeholder and can be replaced.-->

    <div class="row" style="background: #007bff;">
      <div class="col-9" style="margin-left: 15px;">
        <span class="navbar-brand" routerLink="/home">Raghu.</span></div>
      <div class="col-3">
    <!--<ul class="nav nav-pills">
      <li class="nav-item"><button class="btn btn-link" id="aboutbutton" href="#about">About</button></li>
      <li class="nav-item"><button class="btn btn-link" id="protbutton" href="#protofolio">Protofolio</button></li>
      <li class="nav-item"><button class="btn btn-link" id="contactbutton" href="#contact">Contact</button></li>
        </ul>-->
        </div>
    </div>

<router-outlet></router-outlet>


