<div class="row" style="padding:2rem;">
  <div class="col-md-12" style="padding-left:32px;">
      <h5 class="">Raghu Ram M</h5>
      <h6 class="role">Front End & UI Developer </h6>
      <h6><span class="fas fa-map-marker"></span>Chennai, India</h6>
  </div>

</div>

<div class="homeContent">
<div >
  <!-- <span>npm packages published</span> -->
  <h1 class="text-highlight"> 
    <div class="dis-inline" routerLink="/ngx-text-highlight">Ngx-<span class="ngx-text-highlight">Text</span>-Highlight</div>
    <div class="dis-inline top-indicator" routerLink="/ngx-scroll-indicator">Ngx-Scroll-Indicator</div>
    <div class="dis-inline" routerLink="/ngx-date-picker-component">Ngx-Date-Picker-Component</div>
    <div class="dis-inline" routerLink="/ngx-virtual-scroll-list">Ngx-Virtual-Scroll-List</div>
  </h1>
</div>

  <div style="width:300px;margin:auto;">
    <div class="tag-name">Skills</div>
    <span *ngFor="let skill of skillset" [ngClass]="skill?.priority" > {{skill?.skill}}</span>
  </div>

<div class="row bottom-bar">
  <div class="col-md-12">
      <ul style="padding:0;">
          <li class="col-md-4"><span class="far fa-envelope"></span><span>mraghuram3@gmail.com</span></li>
          <li class="col-md-4"><span class="fas fa-link"></span><a href="https://github.com/mraghuram3"><span>https://github.com/mraghuram3</span></a></li>
          <li class="col-md-4"><span class="fab fa-linkedin"></span><a href="https://www.linkedin.com/in/raghu-ram-m"><span>https://www.linkedin.com/in/raghu-ram-m</span></a></li>

      </ul>
  </div>
</div>

</div>